*{
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    
}

/********************************************* Banner **********************************************/
header {
    max-width: 100vw;
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("../images/bg.jpg");
    background-color: grey;
    /* position: relative; */
}

nav {
    position: fixed;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    max-width: 2160px;
    background-color: rgb(153, 149, 149);
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #ff7200;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1rem 1rem;
}

.banner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 43% 53%;
    grid-template-rows: 70% 20%;
    gap: 4%;
    /* row-gap: 10rem; */
    /* position: relative; */
}

.banner-img, .banner-intro {
    margin-top: 10rem;
    align-self: center;
    justify-self: center;
}

.banner-img-lg {
    width: 25rem;
    border: 10px solid rgb(100, 50, 2);
}

.banner-img-lg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-intro h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    color: #ff7200;
    margin-bottom: 1rem;    
}

.banner-intro h3 {
    font-size: 2rem;
}

.banner-intro p {
    margin-top: 2rem;
    width: 80%;
}

.btn {
    background-color: #ff7200;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

.btn a {
    text-decoration: none;
    color: black;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}

/* tablet Hero/Banner media query */
@media screen and (max-width: 946px) {

    body{
        font-size: 1rem;
    }
    nav {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
    .nav-links {
        gap: 1rem;
    }
    .nav-links a {
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
    .banner {
        height: fit-content;
        padding: 10rem 0 8rem;
        width: 90%;
        grid-template-columns: 40% 54%;
        /* grid-template-rows: 70% 20%; */
        grid-template-rows: 70% 20%;
        gap: 1rem;
        row-gap: 4rem;
    }
    .banner-img, .banner-intro {
        margin-top: 5rem;
    }
    .banner-img-lg {
        width: 15rem;
        height: 20rem;
        border-width: 5px;
        justify-self: left;
    }

    .banner-img-lg img {
        height: 100%;
    }

    .banner-intro h1{
        font-size: 3rem;
        margin-bottom: 0;
    }

    .banner-intro h3{
        font-size: 1.5rem;
    }

    .banner-intro p {
        width: 90%;
    }

    .btn {
        padding: 0.8rem 1rem;
        border-radius: 0.5rem;
    }
}

/* mobile Hero/Banner media query */
@media screen and (max-width: 425px) {
    header {
        display: grid;
    }
    .banner {
        padding: 0;
        /* padding-bottom: 6rem; */
        margin: 0 auto;
        /* width: 100%; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        place-items: center;
        align-self: center;
        gap: 2rem;
    }

    .banner-img, .banner-intro {
        margin-top: 0;
    }

    .banner-img-lg {
        width: 13rem;
        height: 15rem;
    }

    .banner-intro {
        text-align: center;
    }

    .banner-intro h1{
        font-size: 2.5rem;
    }

    .banner-intro h3 {
        font-size: 1.2rem;
    }

    /* 
        .banner-intro p {
        width: 90%;
    }
    */
    .banner-intro p {
        width: 100%;
    }

    .btn {
        grid-column-end: 2;
    }
}

/********************************************* Main **********************************************/
main {
    width: 80%;
    
}
main, footer {
    margin: 0 auto;
}

.experience, 
.education,
.skills,
.interests,
.contact {
    padding-top: 5rem;
    display: flex;
    gap: 4rem;
}

.section-header {
    flex: 1;
}

.section-body {
    flex: 6;
}

.work {
    display: flex;
    gap: 2rem;
}

.work-info {
    flex: 2;
}
.work-description {
    flex: 6;
}

.skills ul,
.interests ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.contact .section-body div {
    /* background-color: #ff7200; */
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    width: 10rem;
}

/* tablet main media query */
@media screen and (max-width: 946px) {
    main {
        width: 90%;
    }
}

/* mobile main media query */
@media screen and (max-width: 425px) {
    main {
        width: 90%;
    }

    /* 
    .experience, 
.education,
.skills,
.interests,
.contact {
    padding-top: 5rem;
    display: flex;
    gap: 4rem;
}
    */
    .experience, 
    .education,
    .skills,
    .interests,
    .contact {
        padding-top: 2rem;
        display: block;
        /* gap: 0; */
    }
}

/********************************************* Footer **********************************************/
.footer {
    background-color: rgb(153, 149, 149);
    margin-top: 4rem;
    padding-top: 4rem;
    font-size: 0.9rem;
}

.footer-section {
    width: 80%;
    /* background-color: #ff7200; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
}

.contact-links, .socials-links {
    display: flex;
    gap: 2rem;
}

.contact-links a, .socials-links a {
    color: black;
}

.footer-copy {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid rgb(92, 87, 87);
}

/* tablet main media query */
/* @media screen and (max-width: 946px) {
    .footer {
        padding-top: 2rem;
        font-size: 1rem;
    }
} */